.i-am-careers {
  min-height: calc(100vh - 432px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  flex-direction: column;
  font-size: 18px;
  background: url(../../assets/images/sample/recLeft.png),
    url(../../assets/images/sample/recRight.png);
  background-position: 0% 0px, 100% 200px;
  background-repeat: no-repeat, no-repeat;
  h1 {
    max-width: 1000px;
  }
}
