.slider {
  width: 100vw;
  max-width: 350px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 16;
  transform-origin: right;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 80fr;
  display: none;

  .links_container {
    padding: 10px;
    .nav_menu_link {
      font-size: 22px !important;
      margin: 0 0 15px 0;
    }
  }

  .download_actions {
    width: 100%;
    max-width: 200px;
  }
  .download-btn-gap-y {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .download-icons {
      width: max-content;
    }
  }
}

.cross-icon {
  width: 15px;
  height: 15px;
  /* background: url("./../../assets/cross.png"); */
  background-size: 100% 100%, cover;
  cursor: pointer;
}

.slider-header {
  /* padding: 2em; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 40px;
  color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  transition: opacity 200ms ease;
  transform-origin: top right;
  /* pointer-events */
  display: none;
}

.active-link {
  color: var(--primary-color-one) !important;
}

@media only screen and (max-width: 1024px) {
  .slider {
    display: block;
  }
  .backdrop {
    display: block;
  }
}
@media only screen and (min-width: 541px) and (max-width: 991px) {
  .slider {
    display: block;
  }
  .backdrop {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .slider {
    display: block;
    max-width: 280px;
  }
  .backdrop {
    display: block;
  }
}
