// theme  colors

$theme-color: #c6181f;
$clr-lightRed: #b40000cf;
$theme-gradient: linear-gradient(180deg, #c6181f 0%, #650d10 100%);
$clr-dark: #000000;
$clr-white: #ffffff;
$clr-light-dark: #1b1b1b;
// theme fonts sizes
$f-xx-lg: 40px;
$f-x-lg: 35px;
$f-lg: 30px;
$f-regular: 25px;
$f-md: 20px;
$f-sm: 14px;
$f-x-sm: 12px;
$stroke-color: #e6e6e6;
$text-color-light: #ffffff;

// fonts weights

$weigth-bold: 800;
$weigth-medium: 600;
$weight-subtitle: 500;

// transitions

$transition-light: 0.3s;
$transition-high: 0.5s;

// Font Faimily

$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

$theme-border-radius-sm: 8px;
$theme-border-radius-md: 12px;
$theme-border-radius-lg: 16px;
$theme-border-radius-xl: 20px;
$shadow-light: 0px 4px 14px #dedede;
