.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.marker-modal {
  background: #00000070;
  color: black;
  height: 100%;
  width: 100%;
  padding: 100px 45px 5px 0px;
  text-align: right;
  z-index: 2;
  position: absolute;
  top: 0;
  img {
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .marker-modal {
    background: #00000070;
    color: black;
    height: 100%;
    width: 100%;
    padding: 115px 0px 0px 0px;
    text-align: right;
    position: relative;
    position: absolute;
    top: 0;
    img {
      height: 60%;
      position: absolute;
      top: 20px;
      left: 15px;
    }
  }
}
