@media only screen and (max-width: 991px) {
  .i-am-home {
    .spacingY {
      margin-bottom: 40px;
    }
    .row {
      p {
        text-align: center;
      }
    }
    .responsive-f-mobile {
      width: 100%;
    }
  }
  .mr-b-column {
    margin-bottom: 50px;
  }
}
